#btnsuper {
    margin-top: 5rem; 
    font-size: 1.5rem;
    width: 200px;
}
.form-control {
    font-size: 2rem;
}

ul {
   list-style: none;
   
}

li {
  width: 200px;
 }

.topContainer{
  display: flex;
  flex-direction: row;
}

#label-answer {
  flex-direction: row;
  width: 200px;
}

#radio-answer {
  margin-left: 77px;	
}

#capName-answer {
  margin-right: 50px;	
  width: 150px;
}

#caps-question {
  margin-left: 50px;	
}

#timer-sryle {
  margin-left: 50px;	
  width: 150px;
}



