#btnsuper {
    margin-top: 3rem; 
    font-size: 1.5rem;
    width: 200px;
}
.form-control {
    font-size: 2rem;
}

ul {
   list-style: none;
   
}

li {
  width: 200px;
 }

.topContainer{
  display: flex;
  flex-direction: row;
}

#label-answer {
  flex-direction: row;
  width: 200px;
}

#radio-answer {
  margin-left: 77px;	
}

#capName-answer {
  margin-right: 50px;	
  width: 150px;
}

#caps-question {
  margin-left: 50px;	
}

#timer-sryle {
  margin-left: 50px;	
  width: 150px;
}


.radio-myfont {
    font-size: 1.5rem;
}


input[type="radio"]{
  margin: 0 10px 0 10px;
}

.row-last-quiz-green {
    background-color: #d9e4d4;
    border: solid 1px #000000;
    font-size: 1.5rem
}

.row-last-quiz-yellow {
    background-color: #eedc82;
    border: solid 1px #000000;
    font-size: 1.5rem
}

.row-last-quiz-red {
    background-color: #e08d3c;
    border: solid 1px #000000;
    font-size: 1.5rem
}

.row-last-quiz-red-2 {
    background-color: #f75442;
    border: solid 1px #000000;
    font-size: 1.5rem
}

