


  body {
    display: grid;
    grid-template-areas:
    "top top top top top top top"
    "left empty empty empty empty empty empty"
    "empty empty empty empty empty empty empty"
    "empty empty empty empty empty empty empty"
    "bot bot bot bot bot bot bot";
    grid-template-rows: 150px 1fr 1fr 1fr 150px;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr 200px;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
    }


    div {
      padding: 20px;
    
      }

    div.Top, div.Bot, div.Left {
      
      background-image: url(Croatia.jpg);
      background-size: contain;
    }
    
   

    


    
    .Top {
      grid-area: top;
      }
    .Bot {
      grid-area: bot;
      }      
    #Left {
      grid-area: left;
      }

    #siteEmpty {
    grid-area: empty;
    }