
.gridmenu {
    display: grid;
    grid-template-areas:
    "top1 top2 top3 top4 top5 top6 top7"
    "left empty empty empty empty empty right"
    "bot1 bot2 bot3 bot4 bot5 bot6 bot7";
    grid-template-rows:  repeat(3, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 25px;
    height: 100vh;
    margin: 0;
}


.Top1 {
    grid-area: top1;
}
.Top2 {
    grid-area: top2;
}
.Top3 {
    grid-area: top3;
}
.Top4 {
    grid-area: top4;
}
.Top5 {
    grid-area: top5;
}
.Top6 {
    grid-area: top6;
}
.Top7 {
    grid-area: top7;
}                        

.Bot1 {
    grid-area: bot1;
}
.Bot2 {
    grid-area: bot2;
    }
.Bot3 {
    grid-area: bot3;
}
.Bot4 {
    grid-area: bot4;
}
.Bot5 {
    grid-area: bot5;
}
.Bot6 {
    grid-area: bot6;
}
.Bot7 {
    grid-area: bot7;
}                                  
    
.Left {
    grid-area: left;
}

.Right {
    grid-area: right;
}
    
.Empty {
    grid-area: empty;
    padding: 0;
}

.divInCenter {
    width: 300px; 
    height: 306px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform:translate(-50%, -50%);
}        




.card-my {
    min-width: 150px;
    max-width: 150px;
    min-height: 200px;
    max-height: 200px;
}

.card-title {
    
    
}
.card-body {
    padding: 0;
}

.form-group {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}



.article-enter {
    opacity: 0.01;
}

.article-enter.article-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.article-leave {
    opacity: 1;
}

.article-leave.article-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.article-appear {
    opacity: 0.01;
}

.article-appear.article-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}


@media all and (max-width: 1200px) {
    .gridmenu {
        display: grid;
        grid-template-areas:
        "top1 top2 top3 top4 top5"
        "left empty empty empty right"
        "bot1 bot2 bot3 bot4 bot5";
        grid-template-columns: repeat(5, 1fr);

    }   
}

@media all and (max-width: 800px) {
    .gridmenu {
        display: grid;
        grid-template-areas:
        "empty";
    }   
}




